*{
    text-align: center;   
        
        padding:0;
        margin:0;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
    margin-top: 30px;
    background-image: url('./paolo.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(56, 240, 0);
}
